@model VotesSearchModel
@{
    var auth = UnobtrusiveSession.Session["Auth"] as IList<Auth>;
    var function = auth.First(x => x.Code == "VotesIndex");
    var details = auth.Any(x => x.Code == "VotesDetails");
    var create = auth.Any(x => x.Code == "VotesCreate");
    var edit = auth.Any(x => x.Code == "VotesEdit");
    var delete = auth.Any(x => x.Code == "VotesDelete");
    ViewBag.Title = function.ModuleName + " / " + function.GroupName + " / " + function.SimpleName;
    var user = UnobtrusiveSession.Session["User"] as UserViewModel;
}
@section scripts {
    @Scripts.Render("~/bundles/table")
    <script src="~/Scripts/table-init.js"></script>
    <script>
		//formatter
        @if (Model.Formatter != null)
        {
            foreach (var fmt in Model.Formatter)
            {
                @Html.Raw("function ")
                @Html.Raw(fmt.Key)
                @Html.Raw("(value,row,index){if(null!==value){switch(value){")
                foreach (var item in fmt.Value)
                {
                    @Html.Raw(string.Format("case '{0}': return '{1}';", item.Value, item.Text))
                }
                @Html.Raw("}}}")
                @System.Environment.NewLine
            }
        }
        // set column function
        function setColumn() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetColumn", "Common")',
                data: { functionName: 'votes', data: this.columns[0] },
                dataType: 'json',
                success: function (data) { },
                error: function (data, error) { }
            });
        }

        // Init
        $(function () {
            // init page event
            var initOptions = {
                detailsUrl: '@Url.Action("Details")',
                editUrl: '@Url.Action("Edit")',
                deleteUrl: '@Url.Action("Delete")',
                pagingUrl: '@Url.Action("Paging")',
                getColumnUrl: '@Url.Action("GetColumn", "Common")',
                functionName: 'votes',
                detailsBtn: '@details' == 'True',
                editBtn: '@edit' == 'True',
                deleteBtn: '@delete' == 'True',
                confirmMessage: '@string.Format(@Resource.ExecutionConfirm, @Resource.Delete, @Resource.Votes)',
                successMessage: '@string.Format(@Resource.ExecutionCompleted, @Resource.Delete, @Resource.Votes)',
                errorMessage: '@string.Format(@Resource.ExecutionFailed, @Resource.Delete, @Resource.Votes)',
                systemErrorMessage: '@Resource.SystemError',
                onReorderColumn: setColumn,
                onColumnSwitch: setColumn
            };
            // init page event
            InitBasicEvent(initOptions);
        });

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };


        $('#confirm').click(function () {
            var data = $('#search_form').serializeObject();

            swal({
                title: "確定投票?",
                text: "投完之後就不能修改囉!",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: true,
                showLoaderOnConfirm: false
            }, function () {
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("Paging", "Votes")',
                    data: JSON.stringify({ 'searchModel': data }),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (result) {
                        alert(result.message);
                        history.go(0);
                    },
                    error: function () {

                    }
                });
            });
        });
        
        $('#table').bootstrapTable({
            url: '@Url.Action("GetStatistic", "Votes")',
            method: 'POST',        
            queryParams: function (temp) {
                var data = $("#search_form").serializeObject();
                //這裡的鍵的名字和控制器的變數名必須一直，這邊改動，控制器也需要改成一樣的                
                data["limit"] = temp.limit;   //頁面大小
                data["offset"] = temp.offset  //頁碼
                return JSON.stringify(data);
            },
            striped: true,
            cache: false,
            pagination: true,
            sortable: true,
            sortOrder: "asc",
            sidePagination: "server",
            pageNumber: 1,
            pageList: [10, 25, 50, 100],
            search: false,
            strictSearch: true,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            /*uniqueId: "Name",*/
            showToggle: true,
            silent: true,
            columns: [
                //{ checkbox: true, visible: true },
                { field: 'Brand', title: '品牌', sortable: true },
                { field: 'Name', title: '聯絡人', sortable: true },
                { field: 'Count', title: '票數', sortable: true },

            ],
            onLoadSuccess: function (result) {
            },
            onLoadError: function () {

            },

        });

        $(document).ready(function () {
            $("#myInput").on("change", function () {
                $('#Brand').val($("#myInput.selectpicker option:selected").val());
                $('#table').bootstrapTable('refresh');
            });

            $("#Search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".radio-inline").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $('#user2role').click(function () {
            var data = $('#search_form').serializeObject();
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("UserToRole", "Votes")',
                data: JSON.stringify({ 'data': data }),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (result) {
                    alert(result.result);


                },
                error: function () {

                }
            });
        });
    </script>
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#">@function.ModuleName</a>
            </li>
            <li>
                @Html.ActionLink(function.GroupName, "Index")
            </li>
            <li class="active">
                <strong>@function.SimpleName</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <form class="form-horizontal" id="search_form">
                            <button id="report" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"> <i class="fa fa-bar-chart" aria-hidden="true"></i>投票結果</button>
                            @if (user.Account == "Admin")
                            {
                                <button id="user2role" type="button" class="btn btn-default"> 給予投票人權限</button>
                            }
                            @Html.HiddenFor(model => model.CanVote)
                            @Html.HiddenFor(model => model.Brand)
                            <div class="form-group">
                            @Html.LabelFor(model => model.Search, htmlAttributes: new { @class = "control-label col-sm-1" })
                                <div class="col-sm-2 m-b-xs">
                                    @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control", placeholder = Resource.Keyword } })
                                </div>
                            </div>

                            @if (!Model.CanVote)
                            {
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        @Html.Label(Model.ShowMsg, htmlAttributes: new { @class = "", @style = "color:red;" })
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                @Html.Label("候選人名單:", htmlAttributes: new { @class = "control-label col-sm-1" })

                            </div>
                            <div class="form-group">
                                @foreach (var item in Model.Candidates)
                                {
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            @if (Model.CanVote)
                                            {
                                                @Html.RadioButtonFor(model => model.WDID, item.WDID)
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.WDID, item.WDID)
                                                @*@Html.RadioButtonFor(model => model.WDID, item.WDID, htmlAttributes: new { @disabled = "disabled" })*@
                                            }
                                            @item.PreferredName
                                        </label>
                                    </div>

                                }
                            </div>
                            @if (Model.CanVote)
                            {
                                <div class="col-sm-6">
                                    <button type="button" id="confirm" class="btn btn-primary">確定投票</button>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="wrapper wrapper-content animated" style="width: 800px;">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">                        
                        <div class="ibox-content" style="height: auto;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">投票結果</h4>
                            </div>
                            @Html.DropDownListFor(model => model.Brand, Model.BrandList, string.Format(Resource.PleaseSelect, Resource.BrandName), new { @class = "form-control selectpicker", @id = "myInput", data_live_search = "true", data_size = "10" })                            
                            @*<input class="form-control" id="myInput" type="text" placeholder="Search..">*@
                            <table id="table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
